html { font-family: Arial; display: inline-block; margin: 0px auto; text-align: center;}
h2 { font-size: 2.0rem; }
p { font-size: 1.5rem; }
.units { font-size: 1.2rem; }
.button { background-color: #4CAF50; border: none; color: white; padding: 16px 40px;
  text-decoration: none; font-size: 30px; margin: 2px; cursor: pointer;}
.status { font-size: 1.0rem; color: #444; }
